<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.jelou.candlelight.candlelight" >


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:noHistory="true"
            android:name=".MainScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:noHistory="true"
            android:name=".CreateCommunity"
            android:label="@string/app_name"
            android:parentActivityName=".MainScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.jelou.candlelight.candlelight.CreateCommunity" />
        </activity>
        <activity
            android:noHistory="true"
            android:name=".JoinCommunity"
            android:label="@string/app_name"
            android:parentActivityName=".MainScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.jelou.candlelight.candlelight.JoinCommunity" />
        </activity>
        <activity
            android:noHistory="true"
            android:name=".FollowCommunity"
            android:label="@string/app_name"
            android:parentActivityName=".MainScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.jelou.candlelight.candlelight.FollowCommunity" />
        </activity>
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="3e574c27e92dd4a5f68d7d5e50542666d5a6e13c" />
    </application>

</manifest>
